:root {
    --app-font: 'Barlow Condensed', sans-serif;
    --app-color: #E32A51;
    --app-color-dark: #000000;
    --app-color-red: #C41220;
    --app-color-pink: #E32951;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--app-color-gold);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #E5E5E5 !important;
    font-family: var(--app-font) !important;
    font-weight: normal;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
li,
input,
button,
textarea,
button {
    font-family: var(--app-font) !important;
}


.text-app {
    font-family: var(--app-font);
    color: var(--app-color);
}

.text-app.dark {
    color: var(--app-color-dark);
}

.text-app.red {
    color: var(--app-color-red);
}

.text-app.pink {
    color: var(--app-color-pink);
}

.bg-app {
    background-color: var(--app-color);
}

.bg-app.dark {
    background-color: var(--app-color-dark);
}

.bg-app.red {
    background-color: var(--app-color-red);
}

.bg-app.pink {
    background-color: var(--app-color-pink);
}

.border-app {
    border: 1px solid var(--app-color);
}

.border-app.dark {
    border: 1px solid var(--app-color-dark);
}

.border-app.red {
    border: 1px solid var(--app-color-red);
}

.border-app.pink {
    border: 1px solid var(--app-color-pink);
}

.scrolled .header {
    background-color: var(--app-color-dark);
}

.scroll-top{
    background-color: var(--app-color-red);
}

.scroll-top:hover, .scroll-top:active{
    background-color: var(--app-color-pink);
}

#header{
    background-color: var(--app-color-dark);
}

.header .logo img{
    max-height: 36px !important;
}

#main-section {
    padding-top: 0px;
    padding-bottom: 0px;
}

#main-section .container-section {
    width: 100%;
    height: 100vh;
    background: url('/assets/images/hero-img-transparent@4x.png') bottom center no-repeat;
    background-size: contain;
}

#main-section .container-section .info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nba-run-line {
    width: 150px;
}

.nba-run-line hr {
    width: 100%;
    border-top: 2px solid var(--app-color-dark);
}

#section-video .video-content {
    width: 100%;
    height: 800px;
    background: url('/assets/images/bg-video.png') center center no-repeat;
    background-size: cover;
}

#section-video .video-content video {
    width: 100%;
    height: 100%;
}

.nba-run-content {
    flex-wrap: nowrap;
    animation: marqueeLeft 15s linear infinite;
}

.nba-run-item {
    width: 28%;
}

.nba-run-img{
    height: 100px;
}

#section-player .info{
    background: url('/assets/images/content-bg.png') top right no-repeat;
}

#section-player-2 .info{
    background: url('/assets/images/content-bg-2.png') bottom left no-repeat;
}

#section-player .info .content, #section-player-2 .info .content{
    padding: 6rem 5rem !important;
}

.join-bg{
    background: linear-gradient(180deg, rgba(102, 102, 102, 0.4) 0%, rgba(0, 0, 0, 0.8) 77.45%);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.join-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

.footer .copyright{
    border-top: 1px solid #FFFFFF !important;
}