:root {
    --app-font: 'Barlow Condensed', sans-serif;
    --app-color: #E32A51;
    --app-color-dark: #000000;
    --app-color-red: #C41220;
    --app-color-pink: #E32951;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--app-color-gold);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #E5E5E5 !important;
    font-family: var(--app-font) !important;
    font-weight: normal;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
li,
input,
button,
textarea,
button {
    font-family: var(--app-font) !important;
}


.text-app {
    font-family: var(--app-font);
    color: var(--app-color);
}

.text-app.dark{
    color: var(--app-color-dark);
}

.text-app.red{
    color: var(--app-color-red);
}

.text-app.pink{
    color: var(--app-color-pink);
}

.bg-app {
    background-color: var(--app-color);
}

.bg-app.dark{
    background-color: var(--app-color-dark);
}

.bg-app.red{
    background-color: var(--app-color-red);
}

.bg-app.pink{
    background-color: var(--app-color-pink);
}

.border-app {
    border: 1px solid var(--app-color);
}

.border-app.dark{
    border: 1px solid var(--app-color-dark);
}

.border-app.red{
    border: 1px solid var(--app-color-red);
}

.border-app.pink{
    border: 1px solid var(--app-color-pink);
}