:root {
    --app-font: 'Inter', sans-serif;
    --app-color-blue-dark: #070735;
    --app-color-red: #C41220;
    --app-color-gold: #AC8734;
    --app-color-blue: #131384;
    --app-color-orange: #D3B137;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--app-color-gold);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #E3E3E3 !important;
    font-family: var(--app-font) !important;
    font-weight: normal;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
li,
input,
button,
textarea,
button {
    font-family: var(--app-font) !important;
}

.header-container {
    background-color: var(--app-color-gold);
    border-radius: 50px;
}

.bg-app-red {
    background-color: var(--app-color-red) !important;
}

.text-app-red {
    color: var(--app-color-red) !important;
}

.bg-app-gold {
    background-color: var(--app-color-gold) !important;
}

.text-app-gold {
    color: var(--app-color-gold) !important;
}

.border-app-gold{
    border:1px solid var(--app-color-gold) !important;
}

.bg-app-blue-dark {
    background-color: var(--app-color-blue-dark);
}

.text-app-orange {
    color: var(--app-color-orange) !important;
}

.scrolled .header {
    background-color: transparent;
}

.first-section {
    padding-top: 7rem;
}

.join-info {
    position: absolute;
    bottom: 25%;
}

.signature-info {
    margin-top: -5%;
}

.border-top-section {
    border-top: 8px solid var(--app-color-red);
}

.border-bottom-section {
    border-bottom: 8px solid var(--app-color-red);
}

.has-bg-section {
    background: url('/assets/images/bg-gold.png') center center no-repeat;
    background-size: cover;
}

#accordionFaq .accordion-button {
    background: transparent;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url('/assets/images/plus.png');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('/assets/images/minus.png');
}

.scroll-top{
    background-color: var(--app-color-gold);
}

.section-gallery-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.avatar-info{
    background: linear-gradient(180deg, #D18F22 26.72%, #E0B85A 100%);
}