:root {
    --app-font: 'Inter', sans-serif;
    --app-color-blue-dark: #070735;
    --app-color-red: #C41220;
    --app-color-gold: #AC8734;
    --app-color-blue: #131384;
    --app-color-orange: #D3B137;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--app-color-gold);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #E5E5E5 !important;
    font-family: var(--app-font) !important;
    font-weight: normal;
    font-style: normal;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
li,
input,
button,
textarea,
button {
    font-family: var(--app-font) !important;
}

.header-container {
    background-color: var(--app-color-gold);
    border-radius: 50px;
    transition: width 0.3s ease;
}

.scrolled .header {
    background-color: #E5E5E5 !important;
    padding: 10px 0;
}

.scrolled .header .header-container {
    width: 100%;
}

.bg-app-red {
    background-color: var(--app-color-red) !important;
}

.text-app-red {
    color: var(--app-color-red) !important;
}

.bg-app-gold {
    background-color: var(--app-color-gold) !important;
}

.text-app-gold {
    color: var(--app-color-gold) !important;
}

.border-app-gold {
    border: 1px solid var(--app-color-gold) !important;
}

.bg-app-blue-dark {
    background-color: var(--app-color-blue-dark);
}

.text-app-orange {
    color: var(--app-color-orange) !important;
}

.scrolled .header {
    background-color: transparent;
}

.first-section {
    padding-top: 7rem;
    min-height: 80vh;
}

.join-info {
    position: absolute;
    bottom: 25%;
}

.border-top-section {
    border-top: 8px solid var(--app-color-red);
}

.border-bottom-section {
    border-bottom: 8px solid var(--app-color-red);
}

.has-bg-section {
    background: url('/assets/images/bg-gold.png') center center no-repeat;
    background-size: cover;
}

#accordionFaq .accordion-button {
    background: transparent;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url('/assets/images/plus.png');
}

.accordion-button:not(.collapsed)::after {
    background-image: url('/assets/images/minus.png');
}

.scroll-top {
    background-color: var(--app-color-gold);
}

.scroll-top:hover,
.scroll-top:active {
    background-color: var(--app-color-red);
}

.section-gallery-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dream-item-container {
    flex-wrap: nowrap;
    animation: marqueeLeft 15s linear infinite;
}

.dream-item {
    width: auto;
}

.dream-item .avatar-info .title {
    background: linear-gradient(180deg, #D18F22 26.72%, #E0B85A 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dream-item .item {
    flex-wrap: nowrap;
}

.custom-input-group {
    border-radius: 8px;
}

.custom-input-group input {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.custom-input-group .btn {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#section-buy {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#section-address {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.has-gold-glow {
    transition: all 0.3s ease-in-out;
}

.has-gold-glow:hover,
.has-gold-glow:active {
    box-shadow: 0 0 15px 5px var(--app-color-gold);
    filter: brightness(1.2);
}

.has-red-glow {
    transition: all 0.3s ease-in-out;
}

.has-red-glow:hover,
.has-red-glow:active {
    box-shadow: 0 0 15px 5px var(--app-color-red);
    filter: brightness(1.2);
}

.accordion-item, .accordion-button{
    transition: all 0.3s ease;
}

.accordion-item:has(.accordion-collapse.show){
    box-shadow: 0 0 15px 5px var(--app-color-gold) !important;
}

/*CSS V2*/
.content-v4 .container-join-community{
    margin-top: -5%;
}

.content-v3 .join-info-v3{
    margin-top: -10%;
}