::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background: #10061E;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#hero:before,
#hero:after {
    display: none !important;
}

#hero {
    background-image: url('/assets/img/hero.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero h2 {
    color: #FFFFFF !important;
    font-size: 40px !important;
}

.main-hero h2 {
    font-size: 50px !important;
}

.main-hero p.hero-desc {
    font-size: 18px !important;
}

.main-hero a.hero-action {
    font-size: 15px !important;
    padding-top: .6rem !important;
    padding-bottom: .6rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.hero img {
    position: relative !important;
}

.scrolled .header,
.scroll-top {
    background: linear-gradient(rgb(78 36 175), #10061E) !important;
}

.bg-dark {
    background: #10061E !important;
}

.text-semi-white {
    color: #BFB3FE;
}

.text-lighter {
    color: #9AA7B6;
}

.section-body {
    background: #10061E url('/assets/img/body-bg.png') center center no-repeat;
    background-size: cover;
}

.section-body section {
    background: transparent !important;
}

.main-hero {
    min-height: 95vh !important;
    height: 95vh !important;
}

.second-hero {
    min-height: 80vh !important;
    height: 85vh !important;
}

#footer {
    background: #000000 !important;
}